[Desktop Entry]
Name=Vinyl
GenericName=Music Player
TryExec=vinyl-player
Exec=vinyl-player %U
Icon=page.codeberg.M23Snezhok.Vinyl
Terminal=false
Type=Application
Categories=GNOME;GTK;AudioVideo;Audio;Music;Player;
Keywords=music;player;media;audio;playlist;
StartupNotify=true
X-SingleMainWindow=true
DBusActivatable=true
MimeType=audio/mpeg;audio/wav;audio/x-aac;audio/x-aiff;audio/x-ape;audio/x-flac;audio/x-m4a;audio/x-m4b;audio/x-mp1;audio/x-mp2;audio/x-mp3;audio/x-mpg;audio/x-mpeg;audio/x-mpegurl;audio/x-opus+ogg;audio/x-pn-aiff;audio/x-pn-au;audio/x-pn-wav;audio/x-speex;audio/x-vorbis;audio/x-vorbis+ogg;audio/x-wavpack;inode/directory;
